# Created by https://www.toptal.com/developers/gitignore/api/xcode
# Edit at https://www.toptal.com/developers/gitignore?templates=xcode

### SwiftPackageManager ###
Packages
.build/
DerivedData/
xcuserdata/
*.DS_Store

### Xcode Patch ###
!*.xcworkspace/contents.xcworkspacedata
/*.gcno
**/xcshareddata/WorkspaceSettings.xcsettings

# End of https://www.toptal.com/developers/gitignore/api/xcode


*.xcconfig
