<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BASE_URL</key>
	<string>$(BASE_URL)</string>
	<key>kakaoMapNativeKey</key>
	<string>$(kakaoMapNativeKey)</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>이 앱은 현재 위치를 지도에 표시하기 위해 위치 정보를 사용합니다.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>이 앱은 현재 위치를 지도에 표시하기 위해 위치 정보를 사용합니다.</string>
</dict>
</plist>
